<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href=".\static\img\flagofVietnam.jpg" />
    <meta
      name="description"
      content="A few beautiful scenes in Vietnam"
    />
    <title>Vietnam's scenes</title>
    <link rel="stylesheet" type="text/css" href=".\static\css\placelist.css"/>
  </head>
  <body>
    <div id="root">
      <main>
        <ul class="place-list">
          <li class="place-item">
            <div class="card place-item__content">
              <div class="place-item__image">
                <img
                  src=".\static\img\cau rong.jpg"
                  alt="The Dragon Bridge"
                />
              </div>
              <div class="place-item__info">
                <h2>The Dragon Bridge</h2>
                <h3>Da Nang, Viet Nam</h3>
              </div>
            </div>
          </li>
          <li class="place-item">
            <div class="card place-item__content">
              <div class="place-item__image">
                <img
                  src=".\static\img\cau vang.jpeg"
                  alt="The Golden Bridge"
                />
              </div>
              <div class="place-item__info">
                <h2>The Golden Bridge</h2>
                <h3>Da Nang, Viet Nam</h3>
              </div>
            </div>
          </li>
          <li class="place-item">
            <div class="card place-item__content">
              <div class="place-item__image">
                <img
                  src=".\static\img\vinh ha long.jpg"
                  alt="Ha Long Bay"
                />
              </div>
              <div class="place-item__info">
                <h2>Ha Long Bay</h2>
                <h3>Quang Ninh, Viet Nam</h3>
              </div>
            </div>
          </li>
          <li class="place-item">
            <div class="card place-item__content">
              <div class="place-item__image">
                <img
                  src=".\static\img\thap cham.jpg"
                  alt="The Cham Temple"
                />
              </div>
              <div class="place-item__info">
                <h2>The Cham Temple</h2>
                <h3>Ninh Thuan, Viet Nam</h3>
              </div>
            </div>
          </li>
          
          <li class="place-item">
            <div class="card place-item__content">
              <div class="place-item__image">
                <img
                  src=".\static\img\hoi an.jpg"
                  alt="Hoi An"
                />
              </div>
              <div class="place-item__info">
                <h2>Hoi An</h2>
                <h3>Quang Nam, Viet Nam</h3>
              </div>
            </div>
          </li>
          <li class="place-item">
            <div class="card place-item__content">
              <div class="place-item__image">
                <img
                  src=".\static\img\fanxifang.jpg"
                  alt="Fansipan mountain"
                />
              </div>
              <div class="place-item__info">
                <h2>Phan Xi Păng</h2>
                <h3>Lao Cai, Viet Nam</h3>
              </div>
            </div>
          </li>
        </ul>
      </main>
    </div>
  </body>
</html>
